<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Directory Index</title>

<style>
body {
	font-family: monospace; font-size: 14px;
}
ul {
	list-style-type: none;
}
</style>

</head>

<body>
<h1>Directory Index</h1>
<ul id="repolist">
INSERT_REPO_LIST
</ul>

<script src="octokit-rest.min.js"></script>
<script src="listrepos.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-462421-8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-462421-8');
</script>

</body>
</html>
